# Obsidian theme source directory
# Example: obsidian/github-gfm-theme
OBSIDIAN_THEME_SOURCE_DIR=obsidian/github-gfm-theme

# Obsidian target theme directory
# Example: ~/Documents/Obsidian/.obsidian/themes/ThemeDev
OBSIDIAN_THEME_TARGET_DIR=~/Documents/Obsidian/.obsidian/themes/ThemeDev
