# Obsidian theme source directory
# Example: obsidian/obsidian-gfm-theme
OBSIDIAN_THEME_SOURCE_DIR=obsidian/obsidian-gfm-theme

# Obsidian target theme directory
# Example: ~/Documents/Obsidian/.obsidian/themes/Dev
OBSIDIAN_THEME_TARGET_DIR=~/Documents/Obsidian/.obsidian/themes/Dev
